# Ignore dependencies
node_modules/

# Ignore logs
*.log

# Ignore git files
.git/
.gitignore

# Ignore temporary files
tmp/
*.tmp

# Ignore Docker config files
Dockerfile
.dockerignore
docker-compose.yml

# Ignore environment and local config
.env
.env.local
.vscode/
.idea/
